.App {
  text-align: center;
}

:root {
  --off-white: #fafafa;
}
.nav {
  background-color: gray;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  position: sticky; 
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.hdqwalls.com/wallpapers/i-love-coding-xl.jpg);
  color: white;
}

.section-dark {
  background: whitesmoke;
  color: black;
  background-repeat: no-repeat;
}

.section-content {
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  display: fill;
}

button {
  height: 75px;
  width: 75px;
}

img {
  border-radius: 100px;
}

a {
  color: black;
}

h1 {
  font-size: 30px;
  position: relative;
  left: -220px;
}

h2 {
  font-size: 20px;
  position: relative;
  left: 50px;
}

h3 {
  font-size: 20px;
  position: relative;
  left: 50px;
}

h4 {
  font-size: 50px;
  position: relative;
}

h5 {
  font-size: 40px;
  position: relative;
}

h6 {
  font-size: 20px;
  position: relative;
}

p {
  font-size: 20px;
  position: relative;
}

.github {
  height: 50px;
  width: 50px;
  float: right;
  position: relative;
  margin: 5px 5px 5px 5px;

}

.github2 {
  height: 200px;
  width: 200px;
  float: center;
  position: relative;
  margin: 5px 5px 5px 5px;
}
  
  .linkedin {
  height: 50px;
  width: 50px;
  float: right;
  position: relative;
  margin: 5px 5px 5px 5px;
}
  
  .linkedin2 {
  height: 200px;
  width: 200px;
  float: center;
  position: relative;
  margin: 5px 5px 5px 5px;
}

.email{
  height: 200px;
  width: 200px;
  float: center;
  position: relative;
  margin: 5px 5px 5px 5px;
}

.phone {
  background-image: url(https://i.pinimg.com/736x/d2/37/cf/d237cf84a53b50c6fec871c7fc88787b.jpg);
  height: 200px;
  width: 200px;
  float: center;
  position: relative;
  margin: 5px 5px 5px 5px;
  border-radius: 100%;
  background-size: contain;
}

.ghstyle {
  color: white;
}

.listyle {
  color: white;
}

.img1 {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 100%;
}

.img2 {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 10%;
}

.construction {
  height: 150px;
  width: 150px;
}

.resume {
  height: 50px;
  width: 50px;
  float: right;
  margin: 5px 5px 5px 5px;
}

/* create "blazing" effect */

/* @import url(https://fonts.googleapis.com/css?family=Akronim);

.fire {
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  height: 200px;

  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: 'Akronim';
  overflow: hidden;
    text-align: center;
  vertical-align: middle;

}
.fire:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline;
  margin: 0;

  color: black;
  font-size: 30px;
  position: relative;
  left: -170px;
  line-height: 50px;
  min-width: 50px;
  outline: none;
    
  text-shadow:
        0 3px 20px darkblue,
        0 0 20px darkblue,
    0 0 10px blue,
    4px -5px 6px gray,
    -4px -10px 10px gray,
    0 -10px 30px gray;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0%   { text-shadow: 0 3px 20px gray, 0 0 20px gray,
    0 0 10px blue,
    0 0 0 gray,
    0 0 5px gray,
    -2px -5px 5px gray,
    4px -10px 10px gray; }
  25%   { text-shadow: 0 3px 20px gray, 0 0 30px gray,
    0 0 20px blue,
    0 0 5px gray,
    -2px -5px 5px gray,
    3px -10px 10px gray,
    -4px -15px 20px gray; }
  50%   { text-shadow: 0 3px 20px blue, 0 0 20px blue,
    0 -5px 10px blue,
    -2px -5px 5px gray,
    3px -10px 10px gray,
    -4px -15px 20px gray,
    2px -20px 30px gray(255,255,0,0.5); }
  75%   { text-shadow: 0 3px 20px blue, 0 0 20px blue,
    0 -5px 10px blue,
    3px -5px 5px gray,
    -4px -10px 10px gray,
    2px -20px 30px gray(255,255,0,0.5),
    0px -25px 40px rgba(255,255,0,0)}
  100%   { text-shadow: 0 3px 20px blue, 0 0 20px blue,
    0 0 10px blue,
    0 0 0 gray,
    0 0 5px gray,
    -2px -5px 5px gray,
    4px -10px 10px gray; }
}

 */
